<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>

<body>

    <footer class="bg-dark text-light">
        <div class="container">
            <div class="row">
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h1 class="text-uppercase"><b>BLOG BY KRATOS_DARKCHILD</b></h1>
                    <p><b>Aspiring Junior Front-End Developer</b><span class="badge badge-secondary"></span></p>
                </div>
            </div>
        </div>
    </footer>

    <div class="container mt-5">
        <h3><b> Get To Know Me</b></h3>
        <p>
            Andile Kwazi Msomi is an ambitious Front End Developer, deeply passionate about crafting compelling websites.
            I recently completed my Bachelor of Information Technology at Richfield College, a significant milestone
            in my pursuit of a career in technology. My enthusiasm for this field stems from the constant evolution of
            technology itself, an aspect that never fails to captivate and motivate me. This project is a testament to
            my dedication and proficiency in Front End Development. It serves as a platform to showcase the culmination
            of my skills and knowledge in creating engaging and innovative web experiences.
        </p>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" onclick="alert('Please Hire Me')">Hire Now!</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
       
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title"><b>ANDILE KWAZI MSOMI</b></h3>
                    <h5 class="card-subtitle mb-2 text-muted">Junior Front End Dev</h5>
                    <p class="card-text">
                        I am passionately pursuing my dream of becoming a junior front-end developer, channeling my dedication and hard work into mastering the
                        art of web development, one line of code at a time.
                    </p>

                    <div class="container mt-5">
                        <button type="button" class="btn btn-success" onclick="alert('This device says Hi')">READ MORE!!!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <hr>

</body>

</html>
